@model List<Celular>

@{
    ViewData["Title"] = "Celulares";
}

<h1>Celulares</h1>
<a class="btn btn-primary mt-3" asp-action="Crear">Crear</a>

<table class="table mt-3"> 
    <thead>
        <tr>
            <th>
                Modelo
            </th>
            <th>
                Precio
            </th>
            <th>
                Marca
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var celular in Model)
        {
            <tr>
                <td>
                    @celular.Modelo
                </td>
                <td>
                    @celular.Precio
                </td>
                <td>
                    @celular.Marca.Nombre
                </td>
            </tr>
        }
    </tbody>
</table>
